<!DOCTYPE html>
<html>
<head>
  <title><%= Rails.application.class.parent %> &middot; <%= yield :title %></title>
  <%= stylesheet_link_tag    "application" %>

  <%= yield :extrahead %>
  <%= yield :extracss %>
  <%= yield :extrajs %>

  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'style.css' %>
</head>
<body>

<!--TOP BANNER AND NAVIGATION -->
<%= render "shared/nav" %>

<div id="pagewrap">
    <div id="wrap">
        <%= yield :top_column %>
        <div id="maincontent">
                
            <!-- OPTIONAL MAIN CONTENT AREA, used mostly on welcome page-->
            <%= yield :top_main_content_column %>
                
            <div class="clear bordered"></div>
                
            <!--MAIN CONTENT-->
            <div id="page">
                <%= yield %>
            </div>
            
            <!--MAIN CONTENT SIDEBAR-->
            <div id="sidebar">
                <h2>Special Posts</h2>
                <ul class="menu">
                    <li><a href="#">Anonymous Post</a></li>
                    <li><a href="#">Timed Post</a></li>
                    <li><a href="#">Share Lists</a></li>
                </ul>
                <h2>Download</h2>
                <ul class="posts">
                    <li><a href="/pages/download">Download Extensions</a></li>
                </ul>
                <h2>Site News</h2>
                <ul class="posts">
                    <li><a href="http://twitter.com/#!/Privly">Privly Twitter</a></li>
                    <li><a href="http://twitter.com/#!/SeizePrivacy">Seize Privacy Twitter</a></li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>


<div id="bottom">
    
    <!--Bottom Row -->
    <div id="btmcontent">
        <div class="col1">
            <h2>Contribute</h2>
            <p>We are an <a href="/pages/license">open source</a> project so there are many ways to contribute.</p>
            <ul>
                <li><a href="/pages/donate">Donate</a></li>
                <li><a href="/pages/bug">Submit Bug Report</a></li>
                <li><a href="/pages/join">Submit Extension</a></li>
                <li><a href="/pages/join">Submit Idea</a></li>
                <li><a href="/pages/join">Join the Team</a></li>
            </ul>
        </div>
        <div class="col2">
            <h2>Help</h2>
            <p>We are still in the early stages of development, so expect a few bugs. </p>
            <ul>
                <li><a href="/pages/faq">FAQ</a></li>
                <li><a href="/pages/status">Supported Site List</a></li>
                <li><a href="/pages/bug">Submit a Bug</a></li>
                <li><a href="/pages/email">Help Email List</a></li>
                <li><a href="/pages/irc">IRC</a></li>
            </ul>
        </div>
        <div class="col3">
            <h2>About Us</h2>
            <p>The Privly concept was originally developed by <a href="http://seanbmcgregor.com">Sean McGregor</a>, but has since benefited from numerous contributions.</p>
            <ul>
                <li><a href="/pages/people">People</a></li>
                <li><a href="/pages/roadmap">Road Map</a></li>
                <li><a href="/pages/license">License</a></li>
                <li><a href="/pages/privacy">Privacy Policy</a></li>
                <li><a href="/pages/terms">Terms of Service</a></li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
    
    <!--FOOTER 
    <div id="footer">
        <p>Priv.ly</p>
        <span class="credit"><a href="http://cssheaven.org" title="free and open source css template">CSS Template</a> by CSS Heaven Released under GPL License</span>
    </div>-->
</div>
</body>
</html>
