<% content_for(:title) do %>
    Posts
<% end %>

<h2 class="subhead"><span>Posts</span></h2>
<% @posts.each do |post| %>
    <div class="post">
        <div class="posthead">
            <p class="date">Posted <%= time_ago_in_words(post.created_at) %> ago.</p>
            <h3><a href="#"><%= post.content %></a></h3>
            <p class="postmeta">By Anonymous, <%= link_to 'Show', post %> | <%= link_to 'Edit', edit_post_path(post) %> | <%= link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete %></p>
        </div>            
    </div>
<% end %>

<%= link_to 'New Post', new_post_path %>